<!DOCTYPE html>
{% load static %}
<html >
<head>
  <meta charset="UTF-8">
  <title>SUBJECT </title>

<link rel="stylesheet" href="" type="text/css">
  
</head>

<body style="background-color:grey;">
<h1><center>ALGORITHM- CHAPTER-2</center></h1>
<div class="hom">

<nav>
    <div>
     <ol>
    <li><h3>what is linear search ?</h3></li><br>
    <li><h3>what is binary search ?</h3> </li> <br>
    <li><h3>what is jump search ?</h3> </li> <br>
    <li><h3>what interpolation search ?</h3> </li> <br>
    <li><h3>what is bubble sort ?</h3> </li> <br>
    <li><h3>what is merge sort ?</h3> </li> <br>



    </ol>
    </div>
</nav>
</div>

</body>
</html>
