<!DOCTYPE html>
{% load static %}
<html >
<head>
  <meta charset="UTF-8">
  <title>SUBJECT</title>

<link rel="stylesheet" href="" type="text/css">
  
</head>

<body style="background-color:grey;">
<h1><center>SUBJECT -MATHEMATICS</center></h1>
<div class="hom">

<nav>
    <div style="background-color:yellow;">
    <h3><a href="{%url 'mathcha1' %}">MATHEMATICS CHAPTER-1</a> </h3>
    <h3><a href="{%url 'mathcha2' %}">MATHEMATICS CHAPTER-2</a></h3>
    <h3><a href="{%url 'mathcha3' %}">MATHEMATICS CHAPTER -3</a></h3>
    <h3><a href="{%url 'mathcha4' %}">MATHEMATICS CHAPTER-4</a></h3>



    </div>
  <div>
  </div>


</nav>
</div>

</body>
</html>
