<!DOCTYPE html>
{% load static %}
<html >
<head>
  <meta charset="UTF-8">
  <title>SUBJECT</title>

<link rel="stylesheet" href="" type="text/css">
  
</head>

<body style="background-color:grey;">
<h1><center>MATHEMATICS- CHAPTER-3</center></h1>
<div class="hom">

<nav>
    <div>
     <ol>
    <li><h3>The value of Cosec θ is not defined at ?</h3></li><br>
    <li><h3>Cot θ is equal to ?</h3> </li> <br>
    <li><h3>sin (A + B) = ?</h3> </li> <br>
    <li><h3>sin (-θ) = ?</h3> </li> <br>
    <li><h3>Cosecant function the reciprocal of ?</h3> </li> <br>
    <li><h3>Tan θ and sec θ are not defined at ?</h3> </li> <br>



    </ol>
    </div>
</nav>
</div>

</body>
</html>
