<!DOCTYPE html>
{% load static %}
<html >
<head>
  <meta charset="UTF-8">
  <title>SUBJECT -PYTHON</title>

<link rel="stylesheet" href="" type="text/css">
  
</head>

<body style="background-color:grey;">
<h1><center>PYTHON- CHAPTER-3</center></h1>
<div class="hom">

<nav>
    <div>
     <ol>
    <li><h3>what is python ?</h3></li><br>
    <li><h3>what are the python dictionaries ?</h3> </li> <br>
    <li><h3>what is python tuples ?</h3> </li> <br>
    <li><h3>what are the python statements ?</h3> </li> <br>
    <li><h3>what are the python operators ?</h3> </li> <br>
    <li><h3>explain python inheritance ?</h3> </li> <br>



    </ol>  
    </div>
</nav>
</div>

</body>
</html>
