<!DOCTYPE html>
{% load static %}
<html >
<head>
  <meta charset="UTF-8">
  <title>SUBJECT -PYTHON</title>

<link rel="stylesheet" href="" type="text/css">
  
</head>

<body style="background-color:grey;">
<h1><center>SUBJECT -PYTHON</center></h1>
<div class="hom">

<nav>
    <div style="background-color:yellow;">
    <h3><a href="{%url 'pycha1' %}">PYTHON CHAPTER-1</a> </h3>
    <h3><a href="{%url 'pycha2' %}">PYTHON CHAPTER-2</a></h3>
    <h3><a href="{%url 'pycha3' %}">PYTHON CHAPTER -3</a></h3>
    <h3><a href="{%url 'pycha4' %}">PYTHON CHAPTER-4</a></h3>



    </div>
  <div>
  </div>


</nav>
</div>

</body>
</html>
